<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/dog_reading.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button size="small" defaultHref="inicio" text="Back" color="tertiary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloPages">Bestsellers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
        *ngFor="let libros of bestsellers; let i= index">

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <span>{{i + 1 }}</span>
              <span>{{libros.BookDetail.author}} </span>
            </ion-card-subtitle>
            <ion-card-title>{{libros.title}}</ion-card-title>
          </ion-card-header>

          <ion-img *ngIf="libros.urlToImage" [src]="libros.urlToImage"></ion-img>

          <ion-card-content>
            <p>
              {{libros.description}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>