<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/dog_reading.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button size="small" defaultHref="inicio" text="Back" color="tertiary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloPages">Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <a href="http://www.labibliotecalibre.cl/" target="_blank">
      <ion-img class="imagen_as" src="/assets/books-scaled.jpg"></ion-img>
    </a>
    <ion-card-header>
      <ion-card-subtitle class="subtituloInfo">Para viajar más allá del tiempo y del espacio</ion-card-subtitle>
      <ion-card-title class="tituloInfo">TrocaLibros</ion-card-title>
    </ion-card-header>

    <ion-card-content class="contenidoInfo">
      Fomentar la lectura a través de una aplicación que permita a sus usuarios hacer comunidad en torno al mundo del libro y la lectura.<br><br>
      Considerando el alto precio de los libros en Chile, TrocaLibros facilita el acceso a estos mediante el intercambio o venta a un precio más asequible.<br><br>
      Porque leer es adentrarse en una aventura tan solo con el poder de la imaginación, sin moverte de tu lugar ni invirtiendo grandes sumas de dinero.<br><br>
      Ya lo decía George R.R. Martin: "Un lector vive mil vidas antes de morir... Aquel que no lee solo vive una".
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center" color="tertiary">
      <ion-icon name="logo-facebook" class="ion-padding"></ion-icon>
      <ion-icon name="logo-twitter" class="ion-padding"></ion-icon>
      <ion-icon name="logo-instagram" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-footer>